In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Supermarket_sales.csv")

In [5]:
df.Unitprice.max()

99.96

In [4]:
df.head()

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,2,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,3,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,5,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [6]:
df.Unitprice.min()

10.08

In [7]:
df.Unitprice.mean()

55.67213

In [8]:
df.Quantity.max()

10

In [10]:
df.Quantity.min()

1

In [11]:
df.Quantity.mean()

5.51

In [18]:
df.groupby("Productline").Quantity.max()

Productline
Electronic accessories    10
Fashion accessories       10
Food and beverages        10
Health and beauty         10
Home and lifestyle        10
Sports and travel         10
Name: Quantity, dtype: int64

In [15]:
df.groupby("Productline").Quantity.min()

Productline
Electronic accessories    1
Fashion accessories       1
Food and beverages        1
Health and beauty         1
Home and lifestyle        1
Sports and travel         1
Name: Quantity, dtype: int64

In [17]:
df.groupby("Productline").Quantity.mean()

Productline
Electronic accessories    5.711765
Fashion accessories       5.067416
Food and beverages        5.471264
Health and beauty         5.618421
Home and lifestyle        5.693750
Sports and travel         5.542169
Name: Quantity, dtype: float64

In [19]:
df.groupby("Productline").Unitprice.max()

Productline
Electronic accessories    99.73
Fashion accessories       99.89
Food and beverages        99.79
Health and beauty         99.96
Home and lifestyle        99.92
Sports and travel         99.96
Name: Unitprice, dtype: float64

In [20]:
df.groupby("Productline").Unitprice.min()

Productline
Electronic accessories    10.56
Fashion accessories       10.18
Food and beverages        10.13
Health and beauty         10.08
Home and lifestyle        10.53
Sports and travel         10.17
Name: Unitprice, dtype: float64

In [21]:
df.groupby("Productline").Unitprice.mean()

Productline
Electronic accessories    53.551588
Fashion accessories       57.153652
Food and beverages        56.008851
Health and beauty         54.854474
Home and lifestyle        55.316937
Sports and travel         56.993253
Name: Unitprice, dtype: float64

In [25]:
df.loc[df["Productline"]=="Electronic accessories"].Quantity.max()

10

In [26]:
df.loc[df["Productline"]=="Electronic accessories"].Quantity.min()

1

In [27]:
df.loc[df["Productline"]=="Electronic accessories"].Quantity.mean()

5.711764705882353

In [28]:
df.loc[df["Productline"]=="Health and beauty"].Unitprice.max()

99.96

In [29]:
df.loc[df["Productline"]=="Health and beauty"].Unitprice.min()

10.08

In [30]:
df.loc[df["Productline"]=="Health and beauty"].Unitprice.mean()

54.85447368421053

In [42]:
df.loc[(df["Productline"]=="Health and beauty") & (df["Gender"]=="Male") ]

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
21,22,371-85-5789,B,Mandalay,Normal,Male,Health and beauty,87.98,3,13.1970,277.1370,3/5/2019,10:40,Ewallet,263.94,4.761905,13.1970,5.1
29,30,848-62-7243,A,Yangon,Normal,Male,Health and beauty,24.89,9,11.2005,235.2105,3/15/2019,15:36,Cash,224.01,4.761905,11.2005,7.4
33,34,595-11-5460,A,Yangon,Normal,Male,Health and beauty,96.58,2,9.6580,202.8180,3/15/2019,10:12,Credit card,193.16,4.761905,9.6580,5.1
44,45,617-15-4209,C,Naypyitaw,Member,Male,Health and beauty,15.37,2,1.5370,32.2770,3/16/2019,19:47,Cash,30.74,4.761905,1.5370,7.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981,982,809-46-1866,A,Yangon,Normal,Male,Health and beauty,58.15,4,11.6300,244.2300,1/23/2019,17:44,Cash,232.60,4.761905,11.6300,8.4
983,984,148-41-7930,C,Naypyitaw,Normal,Male,Health and beauty,99.96,7,34.9860,734.7060,1/23/2019,10:33,Cash,699.72,4.761905,34.9860,6.1
987,988,552-44-5977,B,Mandalay,Member,Male,Health and beauty,62.00,8,24.8000,520.8000,1/3/2019,19:08,Credit card,496.00,4.761905,24.8000,6.2
989,990,430-53-4718,B,Mandalay,Member,Male,Health and beauty,75.37,8,30.1480,633.1080,1/28/2019,15:46,Credit card,602.96,4.761905,30.1480,8.4
995,996,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2

In [45]:
df.loc[(df["Productline"]=="Fashion accessories") & (df["Gender"]=="Female") ]

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
10,11,351-62-0822,B,Mandalay,Member,Female,Fashion accessories,14.48,4,2.8960,60.8160,2/6/2019,18:07,Ewallet,57.92,4.761905,2.8960,4.5
27,28,189-17-4241,A,Yangon,Normal,Female,Fashion accessories,87.67,2,8.7670,184.1070,3/10/2019,12:17,Credit card,175.34,4.761905,8.7670,7.7
49,50,574-22-5561,C,Naypyitaw,Member,Female,Fashion accessories,82.63,10,41.3150,867.6150,3/19/2019,17:08,Ewallet,826.30,4.761905,41.3150,7.9
52,53,616-24-2851,B,Mandalay,Member,Female,Fashion accessories,17.87,4,3.5740,75.0540,3/22/2019,14:42,Ewallet,71.48,4.761905,3.5740,6.5
67,68,109-28-2512,B,Mandalay,Member,Female,Fashion accessories,97.61,6,29.2830,614.9430,1/7/2019,15:01,Ewallet,585.66,4.761905,29.2830,9.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
931,932,756-93-1854,C,Naypyitaw,Member,Female,Fashion accessories,83.35,2,8.3350,175.0350,2/2/2019,14:05,Credit card,166.70,4.761905,8.3350,9.5
955,956,846-10-0341,A,Yangon,Normal,Female,Fashion accessories,42.57,7,14.8995,312.8895,1/6/2019,11:51,Cash,297.99,4.761905,14.8995,6.8
962,963,593-08-5916,A,Yangon,Normal,Female,Fashion accessories,15.50,1,0.7750,16.2750,3/19/2019,15:23,Credit card,15.50,4.761905,0.7750,7.4
985,986,374-38-5555,B,Mandalay,Normal,Female,Fashion accessories,63.71,5,15.9275,334.4775,2/7/2019,19:30,Ewallet,318.55,4.761905,15.9275,8.5
999,1000,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [50]:
df.loc[(df["Productline"]=="Fashion accessories") | (df["Productline"]=="Sport and accessories") & (df["Gender"]=="Female") ]

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
10,11,351-62-0822,B,Mandalay,Member,Female,Fashion accessories,14.48,4,2.8960,60.8160,2/6/2019,18:07,Ewallet,57.92,4.761905,2.8960,4.5
26,27,649-29-6775,B,Mandalay,Normal,Male,Fashion accessories,33.52,1,1.6760,35.1960,2/8/2019,15:31,Cash,33.52,4.761905,1.6760,6.7
27,28,189-17-4241,A,Yangon,Normal,Female,Fashion accessories,87.67,2,8.7670,184.1070,3/10/2019,12:17,Credit card,175.34,4.761905,8.7670,7.7
30,31,871-79-8483,B,Mandalay,Normal,Male,Fashion accessories,94.13,5,23.5325,494.1825,2/25/2019,19:39,Credit card,470.65,4.761905,23.5325,4.8
49,50,574-22-5561,C,Naypyitaw,Member,Female,Fashion accessories,82.63,10,41.3150,867.6150,3/19/2019,17:08,Ewallet,826.30,4.761905,41.3150,7.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
974,975,744-82-9138,C,Naypyitaw,Normal,Male,Fashion accessories,86.13,2,8.6130,180.8730,2/7/2019,17:59,Cash,172.26,4.761905,8.6130,8.2
975,976,883-69-1285,B,Mandalay,Member,Male,Fashion accessories,49.92,2,4.9920,104.8320,3/6/2019,11:55,Credit card,99.84,4.761905,4.9920,7.0
985,986,374-38-5555,B,Mandalay,Normal,Female,Fashion accessories,63.71,5,15.9275,334.4775,2/7/2019,19:30,Ewallet,318.55,4.761905,15.9275,8.5
993,994,690-01-6631,B,Mandalay,Normal,Male,Fashion accessories,17.49,10,8.7450,183.6450,2/22/2019,18:35,Ewallet,174.90,4.761905,8.7450,6.6
999,1000,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6